@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans-Italic.woff2') format('woff2'),
        url('LiberationSans-Italic.woff') format('woff'),
        url('LiberationSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('LiberationMono-Italic.woff2') format('woff2'),
        url('LiberationMono-Italic.woff') format('woff'),
        url('LiberationMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Liberation Sans Narrow';
    src: url('LiberationSansNarrow-BoldItalic.woff2') format('woff2'),
        url('LiberationSansNarrow-BoldItalic.woff') format('woff'),
        url('LiberationSansNarrow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ppp2';
    src: url('ppp2.woff2') format('woff2'),
        url('ppp2.woff') format('woff'),
        url('ppp2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans-Bold.woff2') format('woff2'),
        url('LiberationSans-Bold.woff') format('woff'),
        url('LiberationSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Sans Narrow';
    src: url('LiberationSansNarrow-Bold.woff2') format('woff2'),
        url('LiberationSansNarrow-Bold.woff') format('woff'),
        url('LiberationSansNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('LiberationMono-BoldItalic.woff2') format('woff2'),
        url('LiberationMono-BoldItalic.woff') format('woff'),
        url('LiberationMono-BoldItalic.ttf') format('truetype');transform: scale(1) rotate(0deg) translate(0px,0px) skew(20deg,0deg);
position: absolute;
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans-BoldItalic.woff2') format('woff2'),
        url('LiberationSans-BoldItalic.woff') format('woff'),
        url('LiberationSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Sans Narrow';
    src: url('LiberationSansNarrow-Italic.woff2') format('woff2'),
        url('LiberationSansNarrow-Italic.woff') format('woff'),
        url('LiberationSansNarrow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Sans Narrow';
    src: url('LiberationSansNarrow.woff2') format('woff2'),
        url('LiberationSansNarrow.woff') format('woff'),
        url('LiberationSansNarrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('LiberationMono-Bold.woff2') format('woff2'),
        url('LiberationMono-Bold.woff') format('woff'),
        url('LiberationMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('LiberationMono.woff2') format('woff2'),
        url('LiberationMono.woff') format('woff'),
        url('LiberationMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans.woff2') format('woff2'),
        url('LiberationSans.woff') format('woff'),
        url('LiberationSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nanook';
    src: url('nanook.woff2') format('woff2'),
        url('nanook.woff') format('woff'),
        url('nanook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nanook';
    src: url('nanook-Bold.woff2') format('woff2'),
        url('nanook-Bold.woff') format('woff'),
        url('nanook-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
